body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #F7ECDE;
}
.container h1{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    line-height: 60px;
    font-weight: 500;
    position: relative;
    z-index: 9999;
}
.container hr{
    border-style: dashed;
}
.text h2 {
    color: #88A950;
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
    font-family:'Righteous', cursive;;
}
.tebale-sec table{
    border: none;
}